In [3]:
import pandas as pd

d = [1, 2, 3, 4, 5]

s = pd.Series(d)

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
d = {
    "Name" : ["Naman", "Anjali", "Diya", "Kuc"],
    "Marks" : [88, 75, 43, 99]
}

df = pd.DataFrame(d)
print(df)

     Name  Marks
0   Naman     88
1  Anjali     75
2    Diya     43
3     Kuc     99

In [5]:
print(df.info)

<bound method DataFrame.info of      Name  Marks
0   Naman     88
1  Anjali     75
2    Diya     43
3     Kuc     99>

In [6]:
print(df.describe)

<bound method NDFrame.describe of      Name  Marks
0   Naman     88
1  Anjali     75
2    Diya     43
3     Kuc     99>

In [7]:
# TO change single value df.loc[row, column] = value

df.loc[2, "Marks"] = 35

print(df)

     Name  Marks
0   Naman     88
1  Anjali     75
2    Diya     35
3     Kuc     99

In [8]:
df.iloc[1, 1] = 85

print(df)

     Name  Marks
0   Naman     88
1  Anjali     85
2    Diya     35
3     Kuc     99

In [9]:
print(df.loc[0:2])

     Name  Marks
0   Naman     88
1  Anjali     85
2    Diya     35